[Unit]
Description=Pihole Proxy Client
After=network.target

[Service]
ExecStart=/usr/local/bin/pihole --conf=/etc/pihole
User=www-data
Restart=always

[Install]
WantedBy=multi-user.target
