[Unit]
Description=Pihole Proxy Server
After=network.target

[Service]
ExecStart=/usr/local/bin/piholed --logtostderr
Restart=always

[Install]
WantedBy=multi-user.target
